html {
    height: 100%;
}

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    font-size: 24px;
    background-image: url("src/images/background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: rgb(242, 231, 231);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

.win_fone, .crossword_wrapper, .question_wrapper {
    overflow: hidden;
}

.hidden_wrapper {
    display: none !important;
}

.hidden {
    opacity: 0 !important;
}

/* .question_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-bottom: 260px;
    position: relative;
} */

.word_section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: 25px;
    height: 180px;
    border: 1px solid rgb(244, 235, 235);
    border-radius: 20px;
    gap: 10px;
    font-size: 5rem;
    background-color: rgb(27, 127, 215);
    box-shadow: 2px 2px 5px grey;
}

.question_section {
    padding: 20px;
    justify-content: center;
    width: 80%;
    height: 220px;
    position: absolute;
    left: 0;
    right: 0;
    border: 1px solid rgb(244, 235, 235);
    border-radius: 20px;
    bottom: 20px;
    margin: auto;
    text-align: center;
    background-color: rgb(27, 127, 215);
    box-shadow: 2px 2px 5px grey;
}

.question_section > img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.letter_box {
    border-bottom: 3px solid rgb(242, 231, 231);
    width: 60px;
    text-align: center;
}

.letter_box > p {
    transition: 0.5s all;
    transform: rotateY(180deg);
    cursor: pointer;
    margin: 0;
    backface-visibility: hidden;
}

.letter_box.activated > p {
    transform: rotateY(0);
}

.win_fone {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s opacity;
    pointer-events: none;
    z-index: 10;
}

.win_fone.activated {
    opacity: 1;
}

.popper {
    --dx: 1; 
    position: absolute;
    bottom: 0;
    width: 350px;
}

#popper1 {
    left: 20px;
}

#popper2 {
    --dx: -1;
    right: 20px;
    transform: rotateY(180deg)
}

.win_fone.activated .popper {
    animation: popper_anim 0.5s ease-out forwards;
}

@keyframes popper_anim {
    0% {
        translate: calc(var(--dx) * -200px) 200px;
        opacity: 0;    
    }
    100% {
        translate: 0 0;
        opacity: 1;
    }
}

.drum {
    display: block;
    animation: drum 15s linear infinite;
    width: 300px;
    height: auto;
}

.drums {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: auto;
    margin-top: 50px;
}

@keyframes drum {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

.final_message {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(242, 231, 231);
    background-color: rgb(7, 124, 66);
    padding: 20px;
    animation: final_message_anim 0.5s ease-out forwards;
    text-align: center;
    width: 40%;
    border-radius: 20px;
    box-shadow: 2px 2px 5px grey;
    border: 1px solid rgb(244, 235, 235);
    min-height: 250px;
    z-index: 10;
}

.final_message > button {
    width: 200px;
    height: 60px;
    font-size: 24px;
    margin-top: 35px;
    border-radius: 10px;
    background-color: salmon;
    color: #f0f0f0;
    box-shadow: 2px 2px 5px grey;
    border: 1px solid rgb(244, 235, 235);
    cursor: pointer;
}

@keyframes final_message_anim {
    0% {
        opacity: 0;
        transform: translateY(-50%) scale(0.75);
    }
    100% {
        opacity: 1;
        transform: translateY(-50%) scale(1);
    }
}

/* ==========================================================================
   Crossword Section
   ========================================================================== */

.crossword_questions {
    position: absolute;
    left: 40px;
    top: 80px;
    width: 25vw;
    height: 80vh;
    border: 1px solid rgb(244, 235, 235);
    border-radius: 20px;
    font-size: 24px;
    background-color: rgb(27, 127, 215);
    box-shadow: 2px 2px 5px grey;
    padding: 20px;
    overflow-y: auto;
}

.crossword_map {
    position: absolute;
    top: 80px;
    left: calc(25vw + 80px);
    width: 60vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);
}

.crossword_letter {
    border: 1px solid rgb(244, 235, 235);
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    aspect-ratio: 1 / 1;
}

.index_word {
    position: absolute;
    left: 4px;
    top: 2px;
    font-size: 14px;
    color: rgba(242, 231, 231, 0.8);
    z-index: 2;
}

.field_letter {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    font-size: 2.5vw;
    font-weight: bold;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: 0.5s;
}

.crossword_letter.activated .field_letter {
    transform: rotateY(0deg);
}